.aboutron {
    width: 60%;
    margin: 0 auto;
    text-align: center;
    font-size: 0.8em;
    font-weight: bold;
}

.aboutron h3 {
    font-size: 1.1em;
    margin: 2%;
}

@media only screen and (max-width: 600px) {
    .aboutron {
        width: 90%;
    }
}