.navItem {
    display: inline-block;
    font-size: 0.9em;
    padding: 10px 20px;
}

.container {    
    margin: 0 auto;
    width: 70%;
}

header {
    width: 100%;
}

.navbar {
    margin: 0 auto;
    text-align: center;
}

*{
    color: #313a6a;
    font-weight: bold;
}